.account-nav {
    height: 130px;
    @include flex(space-evenly);

    &-top {
        &-heading {
            color: inherit;
            font-weight: 400;
            font-size: 16px;
            color: #222224;
            text-decoration: none;
            transition-duration: 0.3s;

            &:hover {
                color: $main-color;
            }
        }

        .logout-mob {
            display: none;
        }
    }

    &-categories {
        display: flex;
        list-style: none;
        padding: 0;
        min-width: 500px;
        justify-content: space-between;
    }

    &-category {

        a {
            color: #222224;
            text-decoration: none;
            transition-duration: 0.3s;

            &:hover {
                color: $main-color;
            }
        }
    }

    .active {
        a {
            color: $main-color;
        }
    }

    &-logout {
        color: inherit;
        text-decoration: none;
        transition-duration: 0.3s;
        text-align: center;

        &:hover {
            color: $main-color;
        }
    }

}

.account {
    &-header {
        text-align: center;
        font-weight: normal;
        color: $main-color;
        margin: 30px;
    }

    &-table-wrapper {
        margin: 10px 70px 70px;
        box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
    }

    &-table {
        font-size: 14px;
        font-weight: normal;
        border: none;
        border-collapse: collapse;
        width: 100%;
        max-width: 100%;
        white-space: nowrap;
        background-color: white;

        td,
        th {
            text-align: center;
            padding: 8px;
            border-right: 1px solid #d7d6d6;
            font-size: 14px;
        }

        thead th {
            background: #817e7e;
            color: #ffffff;
            text-transform: uppercase;
        }

        tr {
            height: 50px;
        }

        tr:nth-child(even) {
            background: #F8F8F8;
        }

        &-view {
            color: inherit;
            text-decoration: none;
            transition-duration: 0.3s;
            text-align: center;

            &:hover {
                color: $main-color;
            }

            span {
                vertical-align: sub;
            }
        }
    }

    &-index {
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        h2 {
            margin-bottom: 30px;
            font-weight: 400;
        }

        a {
            width: 200px;
            align-self: center;
            margin-top: 50px;
        }
    }

    &-info {
        text-align: center;
        margin-bottom: 40px;

        &-hr {
            height: 1px;
            border-width: 0;
            background-color: #ef5b70;
            margin: 30px 0;

        }
    }

    &-form {
        label {
            display: inline-block;
            width: 145px;
        }

        &-info {
            min-width: 300px;
            box-sizing: border-box;
            border: 1px solid #a4a4a4;
            padding: 14px;
            margin-top: 10px;
            margin-bottom: 10px;
            font-family: inherit;
            outline: none;
            transition-duration: 0.2s;

            &:focus {
                border: 1px solid #555;
            }
        }

        &-text {
            margin-top: 5px;
            color: #b1b1b1;
        }

        &-join {
            margin-top: 20px;
            padding: 16px 30px;
            background-color: $main-color;
            color: #ffffff;
            fill: #ffffff;
            cursor: pointer;
            border: 1px solid $main-color;
            transition-duration: 0.4s;
            font-family: inherit;

            & svg {
                padding-left: 15px;
                transition-duration: 0.4s;
                transition-timing-function: ease-in;
                transform: translateX(0px);
            }

            &:hover {
                background-color: #ffffff;
                color: $main-color;
                border: 1px solid $main-color;

                & svg {
                    transform: translateX(8px);
                    fill: $main-color;
                }
            }
        }
    }
}

@media (max-width: $mobile-width) {
    .account-nav {
        flex-direction: column;
        font-size: 14px;

        &-top {
            display: flex;
            justify-content: space-evenly;
            width: 100%;

            .logout-mob {
                display: inline-block;
            }
        }

        .logout-desk {
            display: none;
        }

        &-categories {
            min-width: 300px;
        }

        &-category {
            font-size: 12px;
        }
    }

    .account {
        &-header {
            font-size: 16px;
            margin-top: 20px;
        }

        &-table-wrapper {
            margin: 20px 0;
            font-size: 14px;
        }

        &-form {
            font-size: 14px;
        }
    }
}