.checkout {
    padding-top: 30px;
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
    text-align: center;

    &-form {
        width: 360px;

        &-info {
            width: 100%;
            box-sizing: border-box;
            border: 1px solid #a4a4a4;
            padding: 14px;
            margin-top: 20px;
            font-family: inherit;
            font-weight: 300;
            font-size: 13px;
            line-height: 16px;
            outline: none;
            transition-duration: 0.2s;

            &:focus {
                border: 1px solid #555;
            }
        }

        &-join {
            margin-top: 40px;
            padding: 16px 30px;
            background-color: $main-color;
            color: #ffffff;
            fill: #ffffff;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            cursor: pointer;
            border: 1px solid $main-color;
            transition-duration: 0.4s;
            font-family: inherit;

            & svg {
                padding-left: 15px;
                transition-duration: 0.4s;
                transition-timing-function: ease-in;
                transform: translateX(0px);
            }

            &:hover {
                background-color: #ffffff;
                color: $main-color;
                border: 1px solid $main-color;

                & svg {
                    transform: translateX(8px);
                    fill: $main-color;
                }
            }
        }
    }
}